section{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animateBg 10s infinite linear;
}

.container{
    position: relative;
    width: 120px;
    height: 120px;
}

.container span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg*var(--i)));
}

.container span::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: #00ff0a;
    box-shadow: 0 0 10px #00ff0a,
                0 0 20px #00ff0a,
                0 0 40px #00ff0a,
                0 0 60px #00ff0a,
                0 0 80px #00ff0a;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animateBg {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(180deg);
    }
}

/* 通过缩放实现转动的视觉效果 */
@keyframes animate {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}